/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 18px;
  color: #333;
  line-height: 32px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background-color: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #FFA500;
}

#left {
  background-color: #30948D;
  color: white;
  width: 33.3%;
  float: left;
}

#middle {
  background-color: #9E1212;
  color: white;
  width: 33.3%;
  float: left;
}

#right {
  background-color: #30948D;
  color: white;
  width: 33.3%;
  float: left;
}

#full {
  background-color: #394549;
  width: 100%;
  overflow: auto;
  clear: both;
  margin-top: 20px;
  color: #fff;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #214fb3;
}

aside {
  width: 33%;
  background-color: #A6B747;
  height: 200px;
  float: left;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
}

footer {
  background-color: #FFA500;
  padding: 20px;
  clear: both;
}
